body {
    color: rgba(23, 24, 27, 0.85);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

app-navbar {
    border-bottom: solid 1px lightgray;
}

.app-section-title {
    padding-top: 1rem;
    text-align: center;
}
div.app-section-title > h1 {
    font-size: 25px;
}
div.app-section-title > p {
    color: gray;
}

table {
    border-spacing: 2px;
    border-color: lightgray;
    width: 100%;
}

tr {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

td, th {
    border-bottom: solid 1px lightgray;
    padding: 0px 7px;
    vertical-align: middle;
    text-align: right;
}

.sortable-link {
    color: rgba(23, 24, 27, 0.85);
    text-decoration: underline;
}

.positive-change {
    color: green;
}

.negative-change {
    color: red;
}